@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-6 col-md-offset-5">
        <h2>@ViewBag.Title.</h2>

    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h3>@ViewBag.Message</h3>

    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p>

            I'm a paragraph. Click here to add your own text and edit me.
            It's easy. I'm a paragraph. Click here to add your own text and edit me.
            It's easy.I'm a paragraph. Click here to add your own text and edit me. It's easy.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="bgdiv">
        <img src="http://www.cubebreaker.com/wp-content/uploads/2014/06/enig-hui-metro-station-10.jpg" class="img-thumbnail" alt="Cinque Terre" width="1211" height="804">
    </div>
</div>

